  <%= link_to like_topic_path(@topic), :class => "btn #{topic_like_class(@topic)}", :remote => true, :id => "like-btn" do %>
    <span id="like_number"><%= @topic.like_users.size %>人覺得讚</span>
    <span id="like-word"><%= like_word(@topic) %></span>
  <% end %>

<p> 誰也按讚：
  <% @topic.like_users.each do |u|  %>
    <%= link_to u.username, profile_path(u) %>, 
  <% end %>
</p>