<h1>New Page</h1>



<%= form_for @feedback, :url => topic_feedbacks_path(@topic), :class =>"form" do |fe|%>

<div class="form-group">
	<%=fe.label :content, "Content"%>
	<%=fe.text_area :content, :class => "form-control"%>
</div>

<%=fe.submit "Create", :class => "btn btn-primary"%>

<%end%>